# Git LFS – large binary files
*.tflite filter=lfs diff=lfs merge=lfs -text

# Android binaries
*.apk filter=lfs diff=lfs merge=lfs -text
*.aab filter=lfs diff=lfs merge=lfs -text

# Images in assets
*.png binary
*.webp binary
